asn1crypto==0.24.0
backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.1
cachetools==3.1.1
certifi==2018.1.18
chardet==3.0.4
cryptography==2.1.4
defusedxml==0.5.0
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
google-api-core==1.13.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-vision==0.38.0
googleapis-common-protos==1.6.0
grpcio==1.22.0
httplib2==0.19.0
idna==2.8
ipaddress==1.0.17
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
mock==2.0.0
pbr==3.1.1
protobuf==3.8.0
psycopg2==2.8.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycrypto==2.6.1
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pytz==2019.1
pyxdg==0.25
PyYAML==3.12
requests==2.22.0
rsa==4.0
SecretStorage==2.3.1
six==1.12.0
SOAPpy==0.12.22
texttable==0.9.1
uritemplate==3.0.0
urllib3==1.25.3
websocket-client==0.44.0
whitenoise==4.1.2
wstools==0.4.3
